@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
    font-family: "Poppins";
}

html, body{
    height: 100vh;
    width: 100vw;
}

.carousel-item img{
    width: 100vw;
    height: 100vh;
}
.about{
    display: flex;
    justify-content: center;
    margin: 70px;
    color: black;
    font-size: 20px;
    text-decoration: none;
}
.section{
    display: flex;
    margin-bottom: 70px;
}

.section .img1{
    margin-right: 100px;
}
.section .img2{
    margin-left: 100px;
}

button{
    border: none;
    padding: 5px;
}
.section1{
    display: flex;
    justify-content: space-between;
}
.t{
    justify-content: center;
    margin: 70px;
}
.em{
    margin-bottom: 50px;
}
.footer{
    height: 20vh;
    width: 100vw;
    background: black;
}
.content{
    display: flex;
    justify-content: space-between;
    padding: 10px 100px;

}
.company .cimg{
    width: 100px;
    height: 100px;
}
.company ul li{
    list-style: none;
    color: whitesmoke;
}
.usefullinks h6{
    color: whitesmoke;
}
.usefullinks ul li{
    color:whitesmoke;
    list-style: none;
}
.usefullinks ul li a{
    text-decoration: none;
    color: whitesmoke;
}
.additionallinks h6{
    color: whitesmoke;
}
.additionallinks ul li{
    list-style: none;
}
.additionallinks ul li a{
    color: whitesmoke;
    text-decoration: none;
}
.fsearch h6{
    color: whitesmoke;
}
.fsearch .sercing{
    display: flex;  
}
.fsearch .icons{
    display: flex;
    justify-content: space-evenly;
}
.fsearch .icons a{
    color: whitesmoke;
}
.fsearch ul li{
    list-style: none;
}

.fsearch ul li a{
    color: whitesmoke;
    text-decoration: none;

}


